footer {
    background-color: #f8f9fa;
    padding: 20px;
    border-top: 1px solid #dee2e6;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.footer-section.about {
    width: 40%;
    margin: 10px;
}

.footer-section.contact-social {
    width: 25%;
    margin: 10px;
}

.footer-section.sitemap {
    width: 20%;
    margin: 10px;
}

.footer-section h2 {
    margin-bottom: 10px;
    font-size: 18px;
    color: #343a40;
}

.footer-section p, .footer-section ul {
    margin: 0;
    padding: 0;
    font-size: 14px;
    color: #495057;
}

.footer-section a {
    color: #007bff;
    text-decoration: none;
}

.footer-section a:hover {
    text-decoration: underline;
}


.social-link {
    margin: 0 10px;
    font-size: 24px;
    color: #495057;
    transition: color 0.3s;
}

.social-link:hover {
    color: #007bff;
}

.sitemap ul {
    list-style: none;
    padding: 0;
}

.sitemap li {
    margin-bottom: 10px;
}

.footer-bottom {
    text-align: center;
    padding: 10px;
    background-color: #e9ecef;
    border-top: 1px solid #dee2e6;
    font-size: 14px;
    color: #495057;
}

.sitemap button {
    background: none;
    border: none;
    color: black;
    font-size: 14px;
    cursor: pointer;
    padding: 0;
    text-decoration: none; /* Removed underline */
    font-family: inherit; /* Ensures the button text inherits font styles */
}

.sitemap button:hover {
    color: #0056b3;
}
